{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
                <div class="jumbotron">
                    <h2>Welcome to your dashboard</h2>
                </div>
            {% else %}
                <div class="jumbotron">
                    <h2>Please Login.</h2>
                    <p>You have to be logged in to use this page.</p>
                    <p><a class="btn btn-primary btn-lg" href="user_auth/login" role="button">Login</a></p>
                </div>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="panel panel-default">
            <div class="panel-heading"><h2><b>Towers</b></h2></div>
            <div class="panel-body">
                <div class="row" style="margin-left: 5px;">
                    <center> <!-- Create -->
                    <div class="col-md-4">
                        <div class="dropdown">
                            <a href="create" class="dropdown-toggle" data-toggle="dropdown">
                                <button type="button" class="btn btn-default"><b>Create</b></button>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <div class="col-lg-12">
                                    <div class="text-center"><h3>Enter Details:</h3></div>
                                    <form id="create-tower-entry" action="create" method="post" role="form">
                                        {% csrf_token %}
                                        <table class="table table-striped">
                                        {% for field in create_form %}
                                            <div class="form-group">
                                                <tr>
                                                    <td>{{ field.label_tag }}</td>
                                                    <td>{{ field }}</td>
                                                </tr>
                                            </div>
                                        {% endfor %}
                                        </table>
                                        <center><input class="btn btn-success" type="submit" value="Create"></center>
                                    </form>
                                </div>
                            </ul>
                        </div>                
                    </div>
                    </center> <!-- End Create -->

                    <center> <!-- Edit -->
                    <div class="col-md-4">       
                        <div class="dropdown">
                            <a href="edit_screen" class="dropdown-toggle" data-toggle="dropdown">
                                <button type="button" class="btn btn-default"><b>Edit</b></button>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <div class="col-lg-12">
                                    <div class="text-center"><h4>Enter ID of Existing Entity:</h4></div>
                                    <form id="edit-tower-entry" action="edit_screen" method="post" role="form">
                                        {% csrf_token %}
                                        <table class="table table-striped">
                                        {% for field in delete_form %}
                                            <div class="form-group">
                                                <tr>
                                                    <td>{{ field.label_tag }}</td>
                                                    <td>{{ field }}</td>
                                                </tr>
                                            </div>
                                        {% endfor %}
                                        </table>
                                        <center><input class="btn btn-success" type="submit" value="Find"></center>
                                    </form>
                                </div>
                            </ul>
                        </div>
                    </div> 
                    </center> <!-- End Edit -->

                    <center> <!-- Delete -->
                    <div class="col-md-4">
                        <div class="dropdown">
                            <a href="delete" class="dropdown-toggle" data-toggle="dropdown">
                                <button type="button" class="btn btn-default"><b>Delete</b></button>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <div class="col-lg-12">
                                    <div class="text-center"><h3>Enter ID:</h3></div>
                                    <form id="delete-tower-entry" action="delete" method="post" role="form">
                                        {% csrf_token %}
                                        <table class="table table-striped">
                                        {% for field in delete_form %}
                                            <div class="form-group">
                                                <tr>
                                                    <td>{{ field.label_tag }}</td>
                                                    <td>{{ field }}</td>
                                                </tr>
                                            </div>
                                        {% endfor %}
                                        </table>
                                        <center><input class="btn btn-success" type="submit" value="Delete"></center>
                                    </form>
                                </div>
                            </ul>
                        </div>
                    </div>
                    </center> <!-- End Delete -->
                </div>
            </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><h3><b>List of Towers:</b></h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                <center>
                                    <input type="checkbox" id="all-checked" name="check-all">
                                    <button type="button" id="delete-button" class="btn btn-xs btn-danger">
                                        Delete
                                    </button>
                                </center>
                            </th>
                            <th>
                                <center><h4><b>ID</b></h4></center>
                            </th>
                            <th>
                                <center><h4><b>Name</b></h4></center>
                            </th>
                            <th>
                                <center><h4><b>Latitude</b></h4></center>
                            </th>
                            <th>
                                <center><h4><b>Longitude</b></h4></center>
                            </th>
                            <th>
                                <center><h4><b>Level 1</b></h4></center>
                            </th>
                            <th>
                                <center><h4><b>Level 2</b></h4></center>
                            </th>
                            <th>
                                <center><h4><b>Level 3</b></h4></center>
                            </th>
                            <th>
                                <center><h4><b>Status</b></h4></center>
                            </th>
                            <th>
                                <center><h4>EDIT</h4></center>
                            </th>
                        </tr>    
                            
                        {% for tower in towers %}
                            <tr>
                                <td>
                                    <center><input type="checkbox" id="delete-items" name="delete_ID" value="{{ tower.Id }}"></center>
                                </td>
                                <td>
                                    <center>{{ tower.Id }}</center>
                                </td>
                                <td>
                                    <center>{{ tower.name }}</center>
                                </td>
                                <td>
                                    <center>{{ tower.lat }}</center>
                                </td>
                                <td>
                                    <center>{{ tower.lng }}</center>
                                </td>
                                <td>
                                    <center>{{ tower.level1 }}</center>
                                </td>
                                <td>
                                    <center>{{ tower.level2 }}</center>
                                </td>
                                <td>
                                    <center>{{ tower.level3 }}</center>
                                </td>
                                <td>
                                    <center>{% if tower.status %}<p>Active</p>{% else %}<p>Inactive</p>{% endif %}</center>
                                </td>
                                <td>
                                    <center>
                                        <a href="{% url 'mini_update' tower.Id %}">
                                        <button type="button" class="btn btn-warning" id="edit-button">
                                            Edit
                                        </button>
                                        </a>
                                    </center>
                            </tr>
                        {% endfor %}
                    
                    <center>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li>
                                    {% if towers.has_previous %}
                                        <a href="?page={{ towers.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                                    {% endif %}
                                </li>
                                <li>
                                    <span class="current">
                                        Page {{ towers.number }} of {{ towers.paginator.num_pages }}.
                                    </span>
                                </li>
                                <li>
                                    {% if towers.has_next %}
                                        <a href="?page={{ towers.next_page_number }}"  aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </center>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}