{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h2>Welcome to your dashboard, admin</h2>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h2><b>Towers</b></h2></div>
            <div class="panel-body">
                <div class="row" style="margin-left: 5px;">
                    <div class="col-md-4"> <!-- Create -->
                        <div class="dropdown">
                            <a href="create" class="dropdown-toggle" data-toggle="dropdown">
                                <button type="button" class="btn btn-default"><b>Create</b></button>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <div class="col-lg-12">
                                    <div class="text-center"><h3>Enter Details:</h3></div>
                                    <form id="create-tower-entry" action="create" method="post" role="form">
                                        {% csrf_token %}
                                        {% for field in create_form %}
                                            <div class="form-group">
                                                {{ field.label_tag }}
                                                {{ field }}
                                            </div>
                                        {% endfor %}
                                        <center><input class="btn btn-success" type="submit" value="Create"></center>
                                    </form>
                                </div>
                            </ul>
                        </div>                
                    </div> <!-- End Create -->

                    <div class="col-md-4"> <!-- Edit -->       
                        <div class="dropdown">
                            <a href="edit_screen" class="dropdown-toggle" data-toggle="dropdown">
                                <button type="button" class="btn btn-default"><b>Edit</b></button>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <div class="col-lg-12">
                                    <div class="text-center"><h4>Enter ID of Existing Entity:</h4></div>
                                    <form id="edit-tower-entry" action="edit_screen" method="post" role="form">
                                        {% csrf_token %}
                                        {% for field in delete_form %}
                                            <div class="form-group">
                                                {{ field.label_tag }}
                                                {{ field }}
                                            </div>
                                        {% endfor %}
                                        <center><input class="btn btn-success" type="submit" value="Find"></center>
                                    </form>
                                </div>
                            </ul>
                        </div>
                    </div> <!-- End Edit -->

                    <div class="col-md-4"> <!-- Delete -->
                        <div class="dropdown">
                            <a href="delete" class="dropdown-toggle" data-toggle="dropdown">
                                <button type="button" class="btn btn-default"><b>Delete</b></button>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <div class="col-lg-12">
                                    <div class="text-center"><h3>Enter ID:</h3></div>
                                    <form id="delete-tower-entry" action="delete" method="post" role="form">
                                        {% csrf_token %}
                                        {% for field in delete_form %}
                                            <div class="form-group">
                                                {{ field.label_tag }}
                                                {{ field }}
                                            </div>
                                        {% endfor %}
                                        <center><input class="btn btn-success" type="submit" value="Delete"></center>
                                    </form>
                                </div>
                            </ul>
                        </div>
                    </div> <!-- End Delete -->
                </div>
            </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">List of Towers:</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        {% for tower in towers %}
                            <tr>
                                <td>
                                    <center>{{ tower.Id }}</center>
                                </td>
                                <td>
                                    <center>{{ tower.name }}</center>
                                </td>
                                <td>
                                    <center>{{ tower.lat }}</center>
                                </td>
                                <td>
                                    <center>{{ tower.lng }}</center>
                                </td>
                                <td>
                                    <center>{{ tower.level1 }}</center>
                                </td>
                                <td>
                                    <center>{{ tower.level2 }}</center>
                                </td>
                                <td>
                                    <center>{{ tower.level3 }}</center>
                                </td>
                                <td>
                                    <center>{{ tower.status }}</center>
                                </td>
                            </tr>
                        {% endfor %}

                    <div class="pagination">
                        <span class="step-links">
                            {% if towers.has_previous %}
                                <a href="?page={{ towers.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ towers.number }} of {{ towers.paginator.num_pages }}.
                            </span>

                            {% if towers.has_next %}
                                <a href="?page={{ towers.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}