{% extends 'base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <center><h2 class="panel-title"><b>Alter Fields to be Updated:</b></h2></center>
            <center><p>Do not touch other fields.</p></center>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
            <table class="table">
                <tr>
                    <td>
                        <div class="container-fluid">
                        <table class="table table-striped">
                            <form id="update-tower-entry" action="/update" method="post" role="form">
                                {% csrf_token %}
                                {% for field in update_form %}
                                    <tr>
                                        <td>
                                            <center>
                                            <div class="form-group">
                                                {{ field.label_tag }}
                                                {{ field }}
                                            </div>
                                            </center>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td>
                                        <center><input class="btn btn-success" type="submit" value="Update"></center>
                                    </td>
                                </tr>
                            </form>
                        </table>
                        </div>
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
{% endblock content %}

